@import "tailwindcss";
@import "@catppuccin/tailwindcss/mocha.css";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", sans-serif;

  --color-primary: var(--catppuccin-color-mauve-950);
  --color-secondary: var(--catppuccin-color-overlay1);

  --color-primary-dark: var(--catppuccin-color-mauve);
  --color-secondary-dark: var(--catppuccin-color-text);
  --color-dark: var(--catppuccin-color-base);
}

.nav-fixed {
  @apply dark:bg-dark/70 dark:shadow-secondary-dark/10 fixed z-999 bg-white/70 shadow-xs backdrop-blur-xs;
}

.is-active span:nth-child(1) {
  @apply top-1/2 -translate-y-1/2 rotate-45;
}

.is-active span:nth-child(2) {
  @apply scale-0 opacity-0;
}

.is-active span:nth-child(3) {
  @apply bottom-1/2 translate-y-1/2 -rotate-45;
}

.show {
  @apply scale-100 opacity-100;
}
